<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ste.sokoban">

    <application
        android:allowBackup="false"
        android:icon="@drawable/game_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/game_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Android_Game_Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Android_About" />

        <activity android:name=".Android_NewGame" />
        <activity
            android:name=".Android_OptionHelp"
            android:theme="@android:style/ThemeOverlay.Material.Dialog"
            tools:targetApi="m" />
        <activity
            android:name=".Android_Music"
            android:theme="@android:style/ThemeOverlay.Material.Dialog"
            tools:targetApi="m" />


    </application>

</manifest>